@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Add this to your globals.css or tailwind.css file */

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide-left {
  animation: slideLeft 20s linear infinite;
}
